$main-theme-bg-1: #681949  !default;
$main-theme-bg-2: #681949  !default;

$top-header-text-color: #681949 !default;
$top-header-icon-color: #681949 !default;
$top-header-bg: #f8f9fa !default;
$top-header-width: 100% !default;
$top-header-height: 65px !default;
$top-header-border-bottom: 1px solid #724e64 !default;
$top-header-log-padding: 10px 10px 10px 10px !default;
$top-header-padding: 0px 15px 0px 5px !default;
$top-header-icon-color: #4b8dff !default;

$main-content-text-color: #4f4d4d !default;
$main-content-bg: #f4f6f9 !default;
$main-content-bg-image: "/images/background_pattern/body_background.png" !default;

$main-content-height: 100vh !default;
$main-content-width: 100% !default;

$table-header-bg-1: #681949 !default;
$table-header-bg-2: #681949 !default;
$table-header-bg-image: "/images/background_pattern/sidebar_background.png" !default;

$predictions-header-bg-1 : #1e4099d4 !default;
$predictions-header-bg-2 : #1e4099c7 !default;

$table-tr-border-radius: 5px !default;